@use "../../../styles/colors" as *;

.class-card {
  border-radius: 0.25rem;
  border: solid 1px $light-grey;
  background-color: $off-white;
  padding: 1.25rem;

}

.class-type {
  text-align: right;
}

.type {
  background-color: $black;
  color: $off-white;
  display: inline-block;
}

.border-bottom {
  border-bottom: 1px solid $light-grey;
}

button {
  background-color: $accent-color;
  color: $off-white;
  border: none;
  padding-inline: 0.75rem;
  cursor: pointer;

  &:hover {
    background-color: $black;
  }

  &:active {
    background-color: $dark-grey;
  }

  &:disabled {
    background-color: $light-grey;
    color: $off-white;
    cursor: not-allowed;
  }
}

.location-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.location-text-area {
  min-width: 0;
  overflow: hidden;
  flex: 1;
}
