<!--<div-->
<!--  [ngStyle]="{ width: width, height: height }"-->
<!--  class="polaroid shadow"-->
<!--&gt;-->
<!--  <div class="polaroid-picture">-->
<!--    <img [src]="finalImageUrl" alt="album_image">-->
<!--  </div>-->

<!--  <div class="photo-description">-->
<!--    <div class="photo-title">-->
<!--      {{ title }}-->
<!--    </div>-->

<!--    <div class="xs-italic">-->
<!--      {{ description }}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div
  [ngClass]="zoomed ? (polaroidView ? 'polaroid padding-1' : 'full-size') : (polaroidView ? 'polaroid padding-0-63' : 'full-size')"

  [ngStyle]="{ width: width, height: height }"
  class="shadow"
>
  <div class="polaroid-picture">
    <img [src]="finalImageUrl" alt="album_image">
  </div>


  @if (polaroidView) {
    <div [ngClass]="zoomed ? ['photo-description-zoomed'] : ['photo-description']">
      <p [ngClass]="zoomed ? ['photo-title-zoomed'] : ['photo-title']">
        {{ title }}
      </p>
      <p [ngClass]="zoomed ? ['xs-italic-zoomed'] : ['xs-italic']">
        {{ description }}
      </p>
    </div>
  }

</div>
