@use '../../../styles/colors' as *;
@use '../../../styles/flex-properties' as *;
@use '../../../styles/paddings' as *;
@use '../../../styles/gaps' as *;
@use '../../../styles/screens' as *;

.card {
  display: flex;
  //max-width: 29.5rem;
  height: 100%;
  border-radius: 0.25rem;
  border: 1px solid $light-grey;
  background-color: $off-white;
  //overflow: hidden;
  //justify-content: center;
}


.border-bottom {
  border-bottom: 1px solid $light-grey;
}

.icon-wrapper {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit {
  color: $light-grey;
  width: 18px;
  height: 18px;

  &:hover {
    color: $dark-grey;
    cursor: pointer;
  }
}


.dog-pictures {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 1.75rem;
  min-width: 11.25rem;
  justify-content: center;
  //overflow-x: scroll;
  padding: 0.5rem;
}

//@media (width <= $screen-xl) {
//  .card {
//    display: flex;
//    height: 100%;
//    min-height: 17.7rem;
//    max-width: 100%;
//    border-radius: 0.25rem;
//    border: 1px solid $light-grey;
//    background-color: $off-white;
//    overflow: hidden;
//    justify-content: center;
//  }
//}

//@media (width <= $screen-xxl) {
//  .dog-pictures {
//    display: flex;
//    flex-direction: row;
//    height: 100%;
//    width: 100%;
//    gap: 1rem;
//    min-width: 11.25rem;
//    //overflow-x: scroll;
//    padding: 0.5rem;
//  }
//}
