<div class="main-container not-found-image">
  <app-header></app-header>
  <div class="inner-main-container">
    <div class="gap-1-75 column-6">

      <div class="gap-1">
        <p class="big-title-text black center">Oups !</p>
        <p class="title-text accent-color center">page non trouvée</p>
        <div>
          <p class="subtitle-text dark-grey center">On l’a cherchée partout,</p>
          <p class="subtitle-text dark-grey center">même derrière les croquettes.</p>
          <p class="subtitle-text dark-grey center">Rien à faire.</p>
        </div>
      </div>

      <app-button variant="long" type="button" label="Login"></app-button>

    </div>
  </div>
  <app-footer></app-footer>
</div>
