@use '../../../styles/colors' as *;
@use '../../../styles/screens' as *;
@use '../../../styles/paddings' as *;

header {
  background: $background;
  //background: transparent;
  -webkit-backdrop-filter: blur(1px); // for Safari support
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  //position: sticky;
  top: 0;
  overflow: hidden;

  & .user-icon {
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    color: $accent-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .logo {
    height: 3.4rem;
    color: $accent-color;
  }

  & .contour {
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.125rem $accent-color;
    height: 2rem;
    width: 2rem;
  }

  & .photo-contour {
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.125rem $dark-grey;
    height: 2rem;
    width: 2rem;
  }
}

.inner-header {
  width: 100%;
  //max-width: $screen-hd;
  //min-width: $screen-lg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //padding: 2.25rem 6.88rem 0.5rem 6.88rem;
  padding-top: 2.25rem;
  padding-bottom: 0.5rem;
  @include responsive-x-padding
}

.login-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
}

.menu {
  display: flex;
  align-items: center;

  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;

    & li {
      display: flex;
      align-items: center;
    }
  }
}

