@use '../../../styles/flex-properties' as *;

.profile-row {
  display: flex;
  //flex-wrap: wrap;
  //flex-direction: row;
  min-height: 17.7rem;
}

.profile-row-card {
  height: 17.7rem;
}

@media (width <= 1330px) {
  .profile-row {
    display: flex;
    flex-wrap: wrap;
    min-height: 17.7rem;
  }
}
