// TODO combine inputs into a component

@use '../../../styles/colors' as *;
@use '../../../styles/flex-properties' as *;

.eye-icon {
  color: $light-grey;

  &:hover {
    color: $dark-grey;
    cursor: pointer;
  }
}

.password-field {
  width: 100%;
  padding: 0;
  border-radius: 0;
  border: 0;
  outline: none;

  &::placeholder {
    color: $light-grey;
  }
}

.input {
  padding: 0 1rem;
  border-radius: 0.25rem;
  border: 1px solid $light-grey;
  outline: none;
  background-color: $off-white;
  color: $black;
  height: 2.75rem;

  &:focus-within {
    border-color: $dark-grey;
    box-shadow: 0 0 0 0;
    color: $black;
  }

  &:disabled {
    background-color: $dark-grey;
    cursor: not-allowed;
  }

  &::placeholder {
    color: $light-grey;
  }
}


input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: $off-white;
  margin: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  border: 1.5px solid $light-grey;
  outline: none;
  display: grid;
  place-content: center;
  cursor: pointer;
  position: relative;

  &::before {
    content: "";
    width: 0;
    height: 0;
    border-radius: 0.13rem;
  }

  &:checked::before {
    width: 0.5rem;
    height: 0.5rem;
    background-color: $accent-color;
  }
}
