.home-image {
  background-image: url('/images/home.jpg');
}

.not-found-image {
  background-image: url('/images/not-found.png');
}

.logout-image {
  background-image: url('/images/logout.png');
}

.login-image {
  background-image: url('/images/login.png');
}

.signup-image {
  background-image: url('/images/signup.png');
}
