/* Primary Colors */
$accent-color: #D63621;
$background: #F8F8F8;
$off-white: #FFFFFB;
$black: #000000;

/* Neutral Grays */
$dark-grey: #717171;
$light-grey: #D7D7D7;

/* Card Shadow */
$card-shadow: 0px 6px 10px rgba(138, 149, 158, 0.2);
