/* global styles */
@use 'colors' as *;
@use 'fonts' as *;
@use 'screens' as *;
@use 'typography' as *;
@use 'columns' as *;
@use 'layout' as *;
@use 'background-image' as *;
@use 'gaps' as *;
@use 'paddings' as *;

@include generate-paddings();

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: $background;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a,
button,
input,
textarea,
select,
svg,
img {
  transition: all 0.2s ease-in-out;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

