<div class="main-container home-image">
  <app-header></app-header>
  <div class="inner-main-container gap-home">
    <div class="front-text-block">
      <p class="front-text">chien?</p>
<!--      <p class="front-text">chien?</p>-->
    </div>

    <div class="column-6">
      <p class="subtitle-text dark-grey">Peu importe comment vous l’appeler, nous saurons l’éduquer</p>
    </div>
    <div class="gap-1">
      <p class="body-text dark-grey">Accéder à votre compte utilisateur</p>
      <app-button variant="home" type="button" label="Login"></app-button>
    </div>
  </div>
  <app-footer></app-footer>
</div>
