<div class="main-container logout-image">
  <app-header></app-header>
  <div class="inner-main-container">
    <div class="gap-1-75 column-6">

      <div class="gap-1">
        <p class="big-title-text black center">Ouaf !</p>
        <p class="title-text accent-color center">session terminée</p>
        <div>
          <p class="subtitle-text dark-grey center">On vous laisse filer… mais on garde une friandise de côté pour votre retour 🦴</p>
        </div>
      </div>

      <app-button variant="long" type="button" label="Login"></app-button>

    </div>
  </div>
  <app-footer></app-footer>
</div>
