@use '../../../styles/colors' as *;

.profile-row {
  display: flex;
  //flex-wrap: wrap;
  //flex-direction: row;
  min-height: 17.7rem;
}

@media (width <= 1330px) {
  .profile-row {
    display: flex;
    flex-wrap: wrap;
    min-height: 17.7rem;
  }
}

.dog-profile {
  position: relative;


  & .back {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: $background;
    height: 3.5rem;

    & a {
      width: 10rem;
    }
  }
}

.sidebar {
  position: sticky;
  top: 3.5rem;
}
