@use '../../../styles/colors' as *;
@use '../../../styles/screens' as *;
@use '../../../styles/flex-properties' as *;

.profile-row {
  display: flex;
  min-height: 17.7rem;
  padding-right: 0.4rem;
}

@media (width <= $screen-xl) {
  .profile-row {
    display: flex;
    flex-wrap: wrap;
    min-height: 17.7rem;
  }
}

.dog-profile {
  position: relative;
}

.back {
  position: sticky;
  top: 0;
  background-color: $background;
  height: 3rem;
  width: 100%;
  z-index: 3;

  & a {
    width: 10rem;
  }
}


.sidebar {
  position: sticky;
  top: 3.5rem;
  flex: auto;
  max-width: fit-content;
}
